<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson:</strong>
  <%= @slide.lesson.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @slide.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @slide.content %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @slide.image_url %>
</p>

<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>
